
$navbar-background: rgba(40, 44, 52, 0.8); // Adjust the alpha value as needed
$navbar-text-color: rgb(0, 0, 0);
$navbar-padding: 15px;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:transparent;
  padding: $navbar-padding;
  color: $navbar-text-color;
  position: absolute;
  margin-left: 15px;
  padding: 15px 20px ;
  z-index: 99;
  width: 95%;
  border-radius: 30px;
}


.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 18px;
  font-weight: bold;
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
  
}

.navbar-center input {
  padding: 8px;
  width: 300px;
  border: none;
  outline: none;
  border-radius: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
  
}
